p {
  color: red;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: pink;
}

.names {
  color: violet
}

select {
  color: orange;
  text-align: center;
  border: 2px solid grey;
  width: 300px;
  margin: 0 auto;
  display: block

}

input {
  color: orange;
  text-align: center;
  border: 2px solid grey;
  width: 300px;
  margin: 0 auto;
  display: block
}
/*
#inputFrom {
  width: 300px;
  border: 1px solid red;
  display: block;
} */

.dropbtn {
  margin: 0 auto;
}
