<div id="header">
  <h1>Currency Conversion</h1>
  <h2>using Angular</h2>
  <h3>Alexander Miller (rowhammer)</h3>
</div>

<div id="rate">
  <p>Exchange Rate: </p>
  <p>{{resultRate}}</p>
</div>

<div class="countrynames">
  <p>Converting from {{countryNames.get(fromCurr)}} to {{countryNames.get(toCurr)}}</p>
</div>

<div class="inputs">
  <p>Currency From: </p>
    <input id="inputFrom" (keypress)="numberOnly($event)" type="number" [(ngModel)]="fromValue" placeholder="Enter first currency amount here"(keyup)="calculateCurrencyOne()">
</div>

<div class="boxes">
  <select id="fromDrop" [(ngModel)]="fromCurr" (change)="getCurrencyRate()">
    <option *ngFor="let item of countryCodes" selected value="{{item}}">{{item}}</option>
  </select>
</div>

<div class="inputs">
  <p>Currency To: </p>
  <input id="inputTo" (keypress)="numberOnly($event)" type="number"  [(ngModel)]="toValue" placeholder="Enter second currency amount here"(keyup)="calculateCurrencyTwo()">
</div>

<div class="boxes">
  <select id="toDrop" [(ngModel)]="toCurr" (change)="getCurrencyRate()">
    <option *ngFor="let item of countryCodes" selected value="{{item}}">{{item}}</option>
  </select>
</div>






<!-- <ngx-cytoscape [elements]="graphData"></ngx-cytoscape> -->

